.publs-page{
    background-color: black;
    color: white;
}

.publs-main{
    padding: 20px 20px 20px 20px;
}

.publs-card{
    background-color: white;
    color: black;
    margin: 20px 20px 20px 20px;

    width: fit-content;

    border-radius: 8px;
}

.publs-card-img{
    width: 200px;
    height: 100px;
    border-radius: 8px 8px 0px 0px;
}